@model SistemaOS.Models.OrdemServico

@{ ViewData["Title"] = "Detalhe"; }

<h3>Ordem de Serviço?</h3>
<hr />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroOS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroOS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TituloServico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TituloServico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomePrestador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePrestador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataExecucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataExecucao)
        </dd>

    </dl>

    <div class="form-group">
        <div class="form-group col-lg-6">
            <a class="btn btn-primary" href="@Url.Action("Index", "OrdemServico")">Voltar</a>
        </div>
    </div>
</div>
